<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        //document.getElementById("testing").style.color = "red";
        function myFunction(){
            //alert("You selected some text");
            //let user_selectedId = document.getSelection("intent");
            document.getElementById("my_form").addEventListener("submit", function (event){
                event.preventDefault();
                let userName = document.getElementById("name").value;
                alert(userName);

            })
        }
    </script>
    <title>Dashboard</title>
</head>
<body>
    <p class="mx-4 bg-red-400">This is for the dashboard template to be used in the application</p>

    <div class="m-4 p-2 bg-blue-200">
        <a href="{% url 'book:create' %}">Create</a>

            <button type="submit">submit</button>
        </form>

        <a href="{% url 'book:detail' %}">Details</a>

    </div> 

    
</body>
</html>